.DS_Store
custom_plan.rb
zeus.json

.config/*
!.config/emmet
!.config/gh-copilot
!.config/gh
!.config/karabiner
.config/karabiner/automatic_backups/
!.config/zed/
.config/zed/*
!.config/zed/keymap.json
!.config/zed/settings.json
